.tableContainer {
    overflow-x: hidden;
    margin: 1rem 0;
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    border: none!important;
}

thead tr{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.table th {
    border-bottom: solid thin #343434;
}

.table th, .table td {
    padding: 0.75rem 2rem;
}

.table th {
    font-weight: 600;
    text-transform: initial;
}

/* Base styles for action buttons */
.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: all ease 0.5s;
}

.edit, .delete {
    color: #484848;
}

/* Edit button styles */
.edit:hover {
    color: #0056b3;
    transition: all ease 0.5s;
}

/* Delete button styles */
.delete:hover {
    color: #a71d2a;
    transition: all ease 0.5s;
}

.primary {
    border: 1px solid #343434;
}

.secondary {
    border: 1px solid #8a8a8a;
}

.danger {
    border: 1px solid #ff4c4c;
}

.table tr {
    background: transparent;
    transition: background-color 0.3s ease;
}

.emptyImage {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}
