@tailwind base;
@tailwind components;
@tailwind utilities;

#budgetApp {
    overflow-x: hidden!important;
}

html {
  --cursor-color: #D2CEFA;
}

html.dark {
  --cursor-color: #FAFAFA;
}

.react-datepicker__header {
  background-color: transparent!important;
}

* {
  cursor: none!important;
}
